@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:300');

@font-face {
    font-family: bebas;
    src: url('../assets/BEBAS.ttf');
}

body {
    /*margin: 0;*/
    /*margin-top: 4em !important;*/
    background-color: #917baf;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}

tbody {
    background-color: #917baf;
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.3em;
    font-weight: 700;
}

a {
    color: #B8ECFE;
    text-decoration: none;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #634d77;
    color: white;
    text-align: right;
    z-index: 1000;
}

nav > #nav-links a {
    padding: 1em;
    display: inline-block;
    font-family: bebas;
    /*height: 100%;*/
}

h1, h2, h3, h4, a.button {
    font-family: bebas;
}

h1, h2 {
    word-spacing: .2em;
}

h4 {
    background-color: #F2F2F2;
    display: inline-block;
    color: #A08AFB;
    padding: 0.5em;
    margin: 0;
}

section {
    min-height: calc(100vh - 6em);
}

section .col-1-2, #splash {
    margin-top: 4em;
}

#splash {
    text-align: center;
}

.splash-img {
    /*game: strong;*/
    height: 30%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
}


a.button {
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: 0.2s all;
    border: solid white 2px;
    padding: 0.5em 1em;
    color: white;
    margin: 1em;
    z-index: 100;
    border-radius: 0.25em;
}

#splash a.button {
    font-size: 1.25em;
}

a.button::before, a.button::after {
    content: "";
    position: absolute;
    transition: 0.2s all;
    z-index: -1;
}

a.button:hover {
    color: #634d77; /*dark purple*/
}

/** Simple slide in from left with circle */
a.button::before {
    left: -200%;
    top: 0;
    width: 200%;
    height: 100%;
    border-radius: 0% 50% 50% 00%;
    background-color: white;
}

a.button:hover::before {
    left: 0%;
}

a.button::after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #634d77;
    z-index: -100;
}

#nav-links > div {
    display: inline;
}

nav > #nav-links a.button {
    margin: 0;
    vertical-align: middle;
    margin-right: 1em;
    padding: 0.5em;
    color: #B8ECFE; /*blue text color*/
}

#logo {
    width: 5%;
    position: absolute;
    left: 1em;
    top: 0.5em;
    transition: 0.25s all;
}

#logo:hover {
    transform: rotate(15deg) scale(1.1);
}

#schedule img {
    max-width: 80%;
    margin: 0 auto;
    display: block;
}

.social {
    text-align: center;
}

.social > a {
    display: inline-block;
    margin: 10px;
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
    position: relative;
    width: 40px;
    height: 40px;
    color: #fff !important;
    border-radius: 50%;
    transition: all 0.3s;
    text-decoration: none;
}
.social > a > i {
    font-size: 16px;
    width: 22px;
    line-height: 40px;
}
.social > a.twitter {
    background: #55acee;
}
.social > a.facebook {
    background: #3b5998;
}
.social > a.email {
    /*background: #ed77d8;*/
    background: #2787e6;
}
.social > a.github {
    background: #333;
    border: 1px solid #999;
    transition: 0.25s all;
}
.social > a:hover {
    transform: rotate(15deg) scale(1.1);
}
.map {
    width: 100%;
    height: 50%;
}

@media only screen and (max-width: 840px) {
    #logo {
        width: 12%;
        position: absolute;
        left: 1em;
        top: 0.5em;
        transition: 0.25s all;
    }
    .map {
        margin: 0;
    }
}

@media only screen and (max-width: 460px) {
    #logo {
        display: none;
    }

    nav {
        text-align: center;
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 320px) {
    #logo {
        display: none;
    }

    nav {
        text-align: center;
        font-size: 0.8em;
    }
}

#faqs {
    min-height: 80vh;
}

#faqs li {
    position: relative;
    list-style: none;
}

#faqs li::before {
    content: "";
    background-image: url('../assets/TeenyBullet3.svg');
    height: 1em;
    width: 1em;
    background-size: 1em;
    position: absolute;
    left: -1.25em;
    top: 0.3em;
}

table {
    min-width: 60%;
}

.map {
    margin: 3.5em 1em 0;
    /* margin-top: 3.5em; */
    /* margin-left: 1em; */
}
